a .one{
	color: #008bc3;
    font-family: 'BebasNeue';
    font-size: 25px;
    text-decoration: none;
    font-size: 25px;
}

.duration{
	float: right;
	background-color: #24478f;
	margin-top: -60px;
	padding: 15px;
	color: white;
}
/*.duration2{
	float: right;
	background-color: #24478f;
	margin-top: -47px;
	padding: 10px;
	color: white;
	width: 160px;
}*/

.sub{
	color: #008bc3;
    font-family: 'BebasNeue';
    font-size: 25px;
    text-decoration: none;
    font-size: 22px;
}
.parent {
   width: 150px; /* I took the width from your post and placed it in css */
   height: 150px;
   border-radius: 15px;
  
}

/* This will style any <img> element in .parent div */
.parent img {
   height: 100%;
   width: 100%;
}

